* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

.header {
  background-image: url(./images/About-BG.jpg);
  height: 500px;
  background-repeat: no-repeat;
}

.header img {
  height: 30px;
  margin-right: 750px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding-top: 12px;
}

ul a {
  text-decoration: none;
  margin-left: 80px;
  margin-right: 20px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  color: white;
}

ul a:hover {
  color: rgb(255, 0, 0);
}

.header .about-heading {
  color: white;
  margin-left: 300px;
  margin-top: 50px;
}

.header .line {
  height: 3px;
  background-color: white;
  width: 200px;
  margin-left: 280px;
  margin-top: 40px;
  border-radius: 5px;
}

.header p {
  color: white;
  font-size: large;
  width: 500px;
  margin-left: 150px;
  margin-top: 40px;
  text-align: center;
}

.main-content .first-header {
  margin-left: 250px;
  margin-top: 100px;
}

.main-content .line {
  height: 3px;
  background-color: black;
  width: 200px;
  margin-left: 320px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.main-content p {
  width: 500px;
  margin-left: 200px;
  margin-bottom: 20px;
}

.main-content span {
  font-weight: bolder;
}

.main-content-two .second-header {
  margin-left: 350px;
  margin-top: 100px;
}

.main-content-two .line {
  height: 3px;
  background-color: black;
  width: 200px;
  margin-left: 320px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.main-content-two p {
  width: 500px;
  margin-left: 160px;
  margin-bottom: 20px;
  text-align: center;
}

.main-content-three .third-header {
  margin-left: 320px;
  margin-top: 100px;
}

.main-content-three .line {
  height: 3px;
  background-color: black;
  width: 200px;
  margin-left: 320px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.main-content-three p {
  width: 500px;
  margin-left: 160px;
  margin-bottom: 20px;
  text-align: center;
}

.footer {
  background-color: black;
  height: 100px;
}

.footer p {
  color: white;
  text-align: center;
  padding-top: 40px;
}